/****** BASE STYLES ******/

html {
    font-size: 16px;
}
 
body {
    font-family: 'Montserrat', sans serif; 
    background-color: #1f202b; 
    color: #ffffff;
    font-size: 1em;
    text-align: left;
}

ul,
ol {
    list-style-type: none;
}

a{ 
    text-decoration: none;
}

h1 {
    font-size: 20px;
    margin-left: 10px;
}

p{
    line-height: 1.285;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

address {
    font-size: 1em;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
}

/****** GRID ******/

/*.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}*/

/*- ".full-width" to ".content-wrapper" -*/

.half-width {
    width: 600px;
    float: left;
}

/*.third-width {
    width: 400px;
    float: left;
}*/

/*--- BASE HEADER-FOOTER STYLES ---*/
header,
footer {
    background-color: #1f202b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}

/***** NAV STYLES *****/

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    text-transform: lowercase;
    width: 60%;
}

header nav ul li{
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    width: 100%;
}

header nav ul li a {
    color: #f70074;
    font-size: 20px;
    text-decoration: none; 
}

h3{
    color: #f70074;
}

footer {
    text-align: center;
    flex-direction: column;
  }
  
footer p {
    margin: 0;
  }
  
footer .content-wrapper{
    width: 55%;
    margin: 50px 0;
  }
  
footer .contact {
    margin-bottom: 50px;
  }

footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 0.875em;
  }

/*--- SCROLL BAR ---*/

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}

/*--- HERO---*/

.hero-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-image: url('../img/hero-background.png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    height: 725px;
    margin-top: auto;
    width: 100%;
  }
  
.hero-area h2 {
    font-size: 2.875em;
    font-family: 'Source Code Pro', monospace;
    line-height:1.2;
  }

.hero-area h2 span {
      color: #00bfff;
      font-family: 'Press Start 2p', cursive;
      font-size: 1.275em;
  }

.neon {
    color: #00bfff;
    text-shadow:0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #0bf,
                0 0 40px #0bf,
                0 0 80px #00f;
}

/***** PORTFOLIO STYLES *****/

.portfolio-items {
    margin-left: 50px;
    padding: 20px;
}

.content-wrapper h3{
    text-align: center;
}

.portfolio-description {
    margin-bottom: 70px;
}

/***** ABOUT STYLES *****/

#about {
    background-image: url('../img/mysitekeyboard-background2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 550px;
}

#about h4{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    padding-left: 50px;
}
#about p{
    font-family: 'Roboto Mono', monospace;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 15px;
}

.shadow {
    color: #fff;
    text-shadow: 0 0 5px #1f202b;
}

/***** CONTACT STYLES *****/

#contact{
    height: 250px;
    background: #1f202b;
    margin-top: 110px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h3{
    text-align: center;
}
#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-flex;
     justify-content: center;
     align-items: center;

}

#contact h5 {
    text-align: center;
}

/*--- SERVICES PAGE STYLES ---*/

#services h2 span {
    font-size: 1em;
    text-align: left;
}

.services .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.services h2,
.services h3 {
    text-align: center;
    padding: 10px 40px 10px 40px;
}
.services .service-packages h3 {
    font-size: 1.75em;
}
.service-packages article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 25px;
    padding:0 10px 0 50px;
}

.service-packages article h4 {
    font-size: 1.3em;
}

.service-packages article .package-description {
    justify-content: center;
}

.package-details {
    text-align: center;
    font-size: 1em;
}

.package-details h3 {
    font-size: 1.75em;
}

.package-details-description article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.package-details-description article h4 {
    font-size: 1.2em; 
}

/*--- TABLET STYLES ---*/
@media only screen and (min-width: 768px) {

/*--- GENERAL STYLES ---*/

.content-wrapper {
    max-width: 640px;
    margin: 100px 0;
}

h2 {
    font-size: 2.25em;
    line-height: 1.333;
}

h3 {
    font-size: 1.5em;
    line-height: 1.25;
}

/*--- HEADER STYLES ---*/

header {
    justify-content: space-around;
  }

  header .content-wrapper{
    width: 100%;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-flow: row;
    width: 50%;
  }

  header nav ul li a {
    text-decoration: none;
    margin: 3px;
  }
}
