/*------------- BASE STYLES ------------*/

html {
    font-size: 16px;
}
 
body {
    font-family: 'Montserrat', sans serif; 
    background-color: #1f202b;
    color: #ffffff;
    font-size: 1em;
    text-align: left;
}

ul,
ol {
    list-style-type: none;
}

a{ 
    text-decoration: none;
}

h1 {
    font-size: 20px;
    margin-left: 10px;
}

p{
    line-height: 1.285;
}

img {
    width: 100%;
}

figure {
    margin: 0;
}

address {
    font-size: 1em;
    color: #fff;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
}


/*------------ BASE HEADER-FOOTER STYLES ----------*/
header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
}


header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
}

/*------------- NAV STYLES -----------*/

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    text-transform: lowercase;
    width: 60%;
}

header nav ul li{
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    width: 100%;
}

header nav ul li a {
    color: #f70074;
    font-size: 20px;
    text-decoration: none; 
}

h3{
    color: #f70074;
}

footer {
    text-align: center;
    flex-direction: column;
  }
  
footer p {
    margin: 0;
  }
  
footer .content-wrapper{
    width: 55%;
    margin-bottom: 100px;
  }
  
footer #contact {
    margin: 0;
  }

#contact h3 {
    margin-top: 80px;
}

footer .copyright {
    margin-top: 20px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 0.875em;
  }


/*---------- SCROLL BAR ------------*/

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}

#progressbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
}

/*---------------- HERO ---------------*/

.hero-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background-image: url('../img/hero-background.png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    height: 725px;
    margin-top: auto;
    width: 100%;
  }
  
.hero-area h2 {
    font-size: 2.875em;
    font-family: 'Source Code Pro', monospace;
    line-height:1.2;
  }

.hero-area h2 span {
      color: #00bfff;
      font-family: 'Press Start 2p', cursive;
      font-size: 1.275em;
  }

.neon {
    color: #00bfff;
    text-shadow:0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px #0bf,
                0 0 40px #0bf,
                0 0 80px #00f;
}

/*--------------- PORTFOLIO STYLES --------------*/

.features h3 {
    font-size: 1.6em;
}
.portfolio-items article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    
    padding: 20px;
    width: 100%;
}

.content-wrapper h3{
    text-align: center;
}

.portfolio-description {
    margin-bottom: 70px;
}

.portfolio-description h4 {
    color: #f70074;
    font-size: 1.5em;
}

/*----------- ABOUT STYLES ----------*/

#about {
    background-image: url('../img/mysitekeyboard-background2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    height: 550px;
}

#about h4{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    padding-left: 50px;
}
#about p{
    font-family: 'Montserrat', sans serif;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 15px;
}

.shadow {
    color: #fff;
    text-shadow: 0 0 5px #1f202b;
}

/*----------- CONTACT STYLES -----------*/

#contact .content-wrapper{
    height: 250px;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

#contact h3 {
    text-align: center;
}

.social h4 {
    text-align: center;
}

#contact ul {
    list-style: none;
}

#contact ul li {
     display: inline-flex;
    
}

/*============ SERVICES PAGE STYLES ==============*/

#services h2 span {
    font-size: 1em;
    text-align: left;
}

.services .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.services h2,
.services h3 {
    text-align: center;
    padding: 10px 40px 10px 40px;
}

.services h2 {
    color: #f70074;
}

.services h3{
    color:#fff;
}

.services .service-packages h3 {
    font-size: 1.75em;
}
.service-packages article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 10px 40px 10px 40px;
}

.service-packages article h4 {
    font-size: 1.3em;
}

.service-packages article .package-description {
    justify-content: center;
}

.package-details {
    text-align: center;
    font-size: 1em;
    margin-top: 80px;
}

.package-details h3 {
    font-size: 1.75em;
}

.package-details-description article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 25px;
    padding: 10px 40px 10px 40px;
}

.package-details-description article h4 {
    font-size: 1.2em;
    color: #00ffe7; 
}



/*============== PROJECTS PAGE STYLES ============*/

.projects {
    text-align: center;
    font-size: 2em;
    padding: 50px 0 100px 0;
}



/*-========================= TABLET STYLES ======================*/
@media only screen and (min-width: 768px) {

/*--------------- GENERAL STYLES ---------------*/

    .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
    }

    h2 {
    font-size: 2.25em;
    line-height: 1.333;
    }

    h3 {
    font-size: 1.5em;
    line-height: 1.25;
    }

/*------------ HEADER STYLES ----------*/

    header {
    justify-content: space-around;
  }

  header .content-wrapper{
    width: 100%;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: right;
    flex-flow: row;
    width: 50%;
  }

  header nav ul li a {
    text-decoration: none;
    margin: 3px;
  }

  footer {
    justify-content: space-around;
  }

  footer .content-wrapper{
    width: 100%;
    justify-content: space-between;
  }

  footer nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #about article {
      width: 80%;
  }

  #contact .content-wrapper{
    height: 250px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    }

    #features {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #features .portfolio-description {
        width: 75%;
    }

   /*.portfolio-items article{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding: 20px 100px 20px 100px;
        margin: 0;
        width: 100%;
    }

    .portfolio-items {
        text-align: center;
    }*/

    /*------- SERVICES ---------*/
    .services .content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .services h2,
    .services h3 {
        text-align: center;
        padding: 10px 40px 10px 40px;
    }
    .services .service-packages h3 {
        font-size: 1.75em;
    }
    .service-packages article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-bottom: 25px;
        padding: 10px 40px 10px 40px;
    }
    
    .service-packages article h4 {
        font-size: 1.3em;
    }
    
    .service-packages article .package-description {
        justify-content: center;
    }
    
    .package-details {
        text-align: center;
        font-size: 1em;
    }
    
    .package-details h3 {
        font-size: 1.75em;
    }
    
    .package-details-description article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        padding: 10px 40px 10px 40px;
    }
    
    .package-details-description article h4 {
        font-size: 1.2em; 
    }
}

@media only screen and (min-width: 1200px) {

    .content-wrapper {
        max-width: 960px;
        margin: 100px 0;
    }

    /*.portfolio-items {
        text-align: center;
    }

    .features .portfolio-items article{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin: 0;
        width: 100%;
    }*/
}